
@{
    ViewData["Title"] = "Inicio";
    string mensaje = "Bienvenido al curso de ASP.Net Core";
    int suma = 20 + 10;
    string[] nombres = { "Ali", "Sara", "tdf" };
}

<h1>Pagina por defecto, ahora sera esta.</h1>
<h1>@mensaje</h1>
<h1>La suma es: @suma</h1>
<h1>Pagina creada a partir de controller pais.</h1>


@foreach (string nom in nombres)
{
    if (nom.StartsWith("S"))
    {
        <h2>El nombre de la persona es: @nom.ToUpper()</h2>
    }
}