

@{
    @using MiPrimeraAplicacionEnNetCore.Clases;

    ViewData["Title"] = "Lista";

    List<InstructorCLS> listaInstructor = new List<InstructorCLS>();

    InstructorCLS oInstructorCLS = new InstructorCLS();
    oInstructorCLS.nombre = "Ali";
    oInstructorCLS.paterno = "Cruz";
    oInstructorCLS.materno = "Monter";
    listaInstructor.Add(oInstructorCLS);

    oInstructorCLS = new InstructorCLS();
    oInstructorCLS.nombre = "Sara";
    oInstructorCLS.paterno = "Cruz";
    oInstructorCLS.materno = "D";
    listaInstructor.Add(oInstructorCLS);
}

<h1>Pagina por defecto</h1>


<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Paterno</th>
            <th>Materno</th>
        </tr>
    </thead>
    <tbody>
        @foreach (InstructorCLS oInstructor in listaInstructor)
            {
        <tr>
            <td>@oInstructor.nombre</td>
            <td>@oInstructor.paterno</td>
            <td>@oInstructor.materno</td>
        </tr>
            }

    </tbody>
</table>
