@model MiPrimeraAplicacionEnNetCore.Clases.PaginaCLS

<h4>Editar Pagina</h4>
<div>
    <a asp-action="Index">Regresar</a>
</div>
<hr />
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar" class="row g-3" id="frmEditarPagina">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idPagina" />
            <div class="form-group">
                <label asp-for="idPagina" class="control-label"></label>
                <input asp-for="idPagina" class="form-control form-check" type="text" readonly />
                <span asp-validation-for="idPagina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mensaje" class="control-label"></label>
                <input asp-for="mensaje" class="form-control" />
                <span asp-validation-for="mensaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="accion" class="control-label"></label>
                <input asp-for="accion" class="form-control" />
                <span asp-validation-for="accion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="controlador" class="control-label"></label>
                <input asp-for="controlador" class="form-control" />
                <span asp-validation-for="controlador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                <input type="button" value="Guardar" class="btn btn-primary" onclick="editarPagina()" />
            </div>
        </form>
    </div>
</div>

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/generic.js"></script>

<script>
    function editarPagina() {
        mostrarModal().then(res => {
            if (res.value) {
                var frmEditarPagina = document.getElementById("frmEditarPagina");
                frmEditarPagina.submit();
            }
        })
    }

</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
