@using MiPrimeraAplicacionEnNetCore.Clases
@model EspecialidadCLS

@{
    ViewData["Title"] = "Agregar";
}

<h1>Crear especialidad</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Guardar" asp-controller="Especialidad" method="post" id="frmNuevaEspecialidad">
            <div class="form-group">
                <label asp-for="nombre"></label>
                <input asp-for="nombre" class="form form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
                @if (Model != null && Model.mensajeError != null && Model.mensajeError != "")
                {
                    <p class="text-danger">El nombre de la especialidad ya existe</p>
                }
            </div>
            <div class="form-group">
                <label asp-for="descripcion"></label>
                <input asp-for="descripcion" class="form form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Aceptar" class="btn btn-primary" onclick="AbrirModal()" />
                <a asp-action="Index" asp-controller="Especialidad" class="btn btn-danger">Regresar</a>
            </div>
        </form>
    </div>
</div>

<script src="~/js/sweetalert2.js"></script>
<script src="~/js/generic.js"></script>

<script>
    function AbrirModal() {
        mostrarModal().then((result) => {
            if (result.isConfirmed) {
                var frmNuevaEspecialidad = document.getElementById("frmNuevaEspecialidad");
                frmNuevaEspecialidad.submit();
                Swal.fire(
                    'Agregado!',
                    'Haz agregado un nuevo registro exitosamente.',
                    'success'
                )
            }
        })
    }
</script>